* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
}

body {
  background: #1b9dff;
  font-family: "Nunito", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  max-width: 800px;
}

h1 {
  color: #edf000;
  font-weight: 700;
  font-size: 3em;
  line-height: 1.1em;
  padding-bottom: 2rem;
}

h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

p {
  font-size: 1em;
  font-weight: 500;
  color: #fff;
}

a {
  color: #e9e9e9;
}

.container-input {
  display: flex;
  margin-top: 2rem;
  margin-top: 1rem;
}

label {
  color: #fff;
}

input {
  font-size: 2em;
  color: #1b9dff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem 0 0 1rem;
  margin: 0.5rem 0;
  width: 200px;
}

input:focus {
  outline: none;
  background: #e9e9e9;
}

/*input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}*/

button {
  background: #93d64b;
  font-size: 1.5em;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0 1rem 1rem 0;
  margin: 0.5rem 0;
  cursor: pointer;
}

button:hover {
  background: #7cb93b;
}

.paragraph-result {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}
strong.result {
  color: #edf000;
  font-size: 2.5rem;
}

footer {
  background: #2575ba;
  width: 100%;
  margin-top: 1rem;
  padding: 1.5rem 4rem;
}

.link-scripts-container p {
  padding: 0.5rem 0;
}

@media (max-width: 470px) {
  main {
    padding: 3em 1rem 1rem 1rem;
  }

  h1 {
    font-size: 2em;
    line-height: 1.1em;
    padding-bottom: 1.5rem;
  }
  h2 {
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
  footer {
    padding: 1rem 1rem;
  }
}
